<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.efs.bpmn.proc.def.mapper.MyGroupMapper">
	<resultMap type="com.efs.bpmn.proc.def.mapper.MyGroupMapper" id="MyGroup">
		<result property="id" column="R_ID"/>
		<result property="name" column="R_NAME"/>
		<result property="type" column="R_TYPE"/>
	</resultMap>
	
	<select id="findGroupsByUser" resultMap="MyGroup" parameterType="string">
		 SELECT DISTINCT T3.RI_ID AS R_ID,T3.RI_NAME AS R_NAME
			FROM TS_USER_ROLE_INFO T2
			LEFT JOIN TS_ROLE_INFO T3
			ON T2.UR_ROLE_ID=T3.RI_ID
			WHERE T2.UR_USER_ID=#{userId}
			ORDER BY T3.RI_ID
	</select>
	
	
</mapper>